body{

    
    
    background-color: white;
    background-size: cover;
    background-repeat:round;
    
    
    
    
}
header{
    color:black;
    font-size: 25px;
    text-align: center;
    font-family: cursive;
    
    font-style: italic;
    padding-top: 10px;

    
    text-decoration: underline;
    background-color: honeydew;
    
}

.b1{
    
    
    padding-left: 30px;
    background-color: floralwhite;
    
}
.b2{
    padding-left: 50px;
    background-color: gainsboro;
    
   
}
.b3{
    padding-left: 50px;
    background-color: ivory;
}
.b4{
    padding-left: 50px;
    background-color: lightblue;
}
.b5{
    padding-left: 50px;
    background-color: lightcyan;
}
.l1{
    color:red;
    text-align: center;
}

/* style="font-size: 35px;font-family:sans-serif;text-align: center;" */
.data{
    font-size: 35px;
    font-family:sans-serif;
    text-align: center;
}